{# templates/start.html #}

<!DOCTYPE html>

<body>
    <h1>FMC Demo</h1>
    <p>
        
        <form  action = "/input/" method = "get">
        <input list = "inputs" name = "input">
        <datalist id = "inputs">
            <option value = "addition"></option>
            <option value = "stack"></option>
            <option value = "multiplestacks"></option>
        </datalist>
        <input type="submit">
        </form>
        
    </p>
    <p>
        you can write your own input terms below. 
        syntax is ipso lorem
        <form action = "/input/" method = "get">
            <input type="text" name="term_input">
            <input type="submit">

        </form>
    </p>


</body>